<section class="d-flex flex-column">
  
  <div class="mx-auto">
    <h2>Qual ativo está buscando?</h2>
    <input class="form-control border rounded-pill mt-3" type="search" [formControl]="campoBusca" id="example-search-input" placeholder="Ex.: RADL3.SA">
  </div>

  <div class="mx-auto mt-3" >
    <h4 *ngIf="chartResultado && !mensagemErro">Buscando os {{ chartResultado.length}} últimos resultados</h4>
    <h4 *ngIf="mensagemErro">{{ mensagemErro }}</h4>
  </div>

  <div class="chart" [hidden]="!chartResultado && mensagemErro">
    <canvas #chart id="myChart" class="canvas-chart"></canvas>
  </div>
  <div
    class="mt-5"
    *ngIf="chartResultado && !mensagemErro">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Valor</th>
          <th scope="col">Comparação Dia Anterior</th>
          <th scope="col">Comparação Primeiro Dia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chart of chartResultado">
          <th scope="row">{{chart.timestamp | date: 'dd/MM/yyyy'}}</th>
          <td>{{chart.value }}</td>
          <td>{{chart.subEarlyDay}}</td>
          <td>{{chart.subFirstDay}}</td>
        </tr>
      </tbody>
    </table>
  </div>

